body{
	font-size: 60px;
}

p{
	font-size: normal;
}

.title{
background: #1E2AD5;
}

.description{
	position:  static;

}
.project
{

}
i
{

	font-size: small;
}

h1
{
	position: center;
	font-size : 80%;
}

h2
{
	font-size: 50%;
}

h3
{
	font-size: 30%;
}

p
{
	font-size: 25%;
}

.language
{
	max-width: 100%;
	height: auto;
}

.contact
{
	padding-top: -10%;
	margin-top: -10%;
}

.icons
{
	font-size: small;
	max-width: 5%;
	height: auto;
}

li
{
	list-style-type:none;
}
