
h1{
		position: center;
}

p{
	font-size: normal;
}
.title{
background: #1E2AD5;
}

.display	{
	display: flex;
}

.jumbotron{
	position: center;
}

.icon-lara{
	max-width: 25%;
}

.img-responsive{
	border: 0px;
	max-width : 50%;
	height: auto;
}

.icon-lara{
	max-width: 40%;
	height: auto;
	margin-top: 30%;
}

.jquery
{
	max-width: 90%;
	height: auto;
	margin-top: 40%;
}

svg
{
	max-width: 95%;
	height: auto;
}

li
{
	list-style-type:none;
}
